<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<!-- ============================================================== -->


<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium m-3 ml-4">Task Management
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a></a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-5 align-self-center">

    </div>
  </div>
</div>
<div class="container-fluid">

  <!-- <div class="card-group">
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">236</h2>
                          <span
                              class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Clients</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup
                              class="set-doller">$</sup>18,306</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Earnings of Month
                      </h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">1538</h2>
                          <span
                              class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 font-weight-medium">864</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div> -->


  <div class="card mt-3 mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <div class="customize-input float-right">
        <input class="date-field" matInput [(ngModel)]="today" [matDatepicker]="picker" (change)=onDateChange($event)>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/dashboard/product-create']"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-100"></i>
        Add New Job</a>
    </div>
  </div>


  <!-- <div class="container mt-3">
    <div class="example-action-buttons float-left">
      <h3> Active Jobs </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Tasks">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.task_name}} -- {{factor.task_state}}</h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Created at : {{factor.time_stamp | date : 'd/M/yy'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary"> {{factor.company_name}} <br> {{factor.customer_name}} <br>
                {{factor.customer_address}} - {{factor.customer_city}} <br> {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Job Description : {{factor.task_description}}
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">
          <form #formValues3="ngForm" id="myform" (ngSubmit)="add_status(formValues3, factor)" class="pl-3 pr-3">
            <div class="form-group">
              <input class="form-control" [(ngModel)]="Task_status.task_status_name" name="task_status_name"
                #task_status_name="ngModel" type="text" placeholder="Update Job Status">
            </div>
            <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fa fa-trash"
              aria-hidden="true"></i></button>
              <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fas fa-edit"></i></button>
              <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fa fa-share"
                aria-hidden="true"></i></button>
          </form>
          <button class="mr-4 btn btn-rounded btn-primary" color="primary" form="myform" type="submit">Update</button>
          <button class="mr-4 btn btn-rounded btn-dark" color="primary" (click)=disclose(factor)>Disclose</button>
          <button class="mr-4 btn btn-rounded btn-dark" color="primary" (click)=next_followup(factor)> Next Follow Up
          </button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div> -->

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <!-- <th>Edit</th> -->
            <th>Company Name</th>
            <th>Mobile Number</th>
            <th>Job Name</th>
            <th>Job Status</th>
            <th>Job Description</th>
            <th>Disclose</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <!-- <th>Edit</th> -->
            <th>Company Name</th>
            <th>Mobile Number</th>
            <th>Job Name</th>
            <th>Job Status</th>
            <th>Job Description</th>
            <th>Disclose</th>
          </tr>
        </tfoot>

        <!-- Start of DataTable -->
        <tbody>
          <tr *ngFor="let factor of Tasks">
            <!-- <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
              <i class="fa fa-edit text-gray-500"></i>
            </td> -->
            <td>{{factor.company_name}}</td>
            <td>{{factor.customer_mobile}}</td>
            <td>{{factor.task_name}}</td>
            <!-- <td>{{factor.task_state}}</td> -->
            <td *ngIf="!isStateEdit">
              <div class="input-group">
                <input class="form-control" [(ngModel)]="factor.task_state" name="task_state" #task_state="ngModel"
                  type="text" placeholder="Enter Job State">
                <div class="input-group-append">
                  <div (click)="add_status(factor.task_state, factor)" class="input-group-text" style="cursor: pointer;"
                    id="btnGroupAddon"> <i class="fas fa-level-up-alt    "></i>
                  </div>
                </div>
              </div>
            </td>

            <td>{{factor.task_description}}</td>
            <td (click)=disclose(factor) style="cursor: pointer;" align="center">
              <i class="fa fa-bell-slash text-gray-500"></i>
            </td>
          </tr>
        </tbody>
        <!-- End of DataTable -->


      </table>
    </div>
  </div>
</div>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

          <!-- Select Customer - customer - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Select Customer</label>
            <ng-select [items]="Customers" bindLabel="company_name" autofocus bindValue="customer_id"
              [(ngModel)]="selectedCustomer" name="customer" (change)=onSelect($event) placeholder="Select Customer">
            </ng-select>
          </div>
          <!-- End of Select Customer -->

          <!-- Job Name - task_name - text - required -->
          <div class="form-group">
            <label>Job Name</label>
            <input class="form-control" [(ngModel)]="Factor.task_name" name="task_name" #task_name="ngModel"
              type="text" placeholder="Enter Job Name" required>
            <div class="error" *ngIf="task_name.touched && !task_name.valid"> Job Name is
              required</div>
          </div>
          <!-- End of Job Name -->

          <!-- Job Description - task_description - text - required -->
          <div class="form-group">
            <label>Job Description</label>
            <textarea class="form-control" [(ngModel)]="Factor.task_description" name="task_description"
              #task_description="ngModel" type="text" placeholder="Enter Job Description" required></textarea>
            <div class="error" *ngIf="task_description.touched && !task_description.valid"> Job Description is
              required</div>
          </div>
          <!-- End of Job Description -->


          <!-- Follow-up Priority - lead_priority - ng-select - selectedType -->
          <!-- <div class="form-group">
            <label>Follow-up Priority</label>
            <ng-select [items]="PRIORITY" bindLabel="value" autofocus bindValue="id" name="lead_priority"
              [(ngModel)]="selectedPriority" (change)=onSelect2($event) placeholder="Follow-up Priority">
            </ng-select>
          </div> -->
          <!-- End of Follow-up Priority -->

          <!-- Follow-up Priority - lead_priority - ng-select - selectedType -->
          <!-- <div class="form-group">
            <label>Follow-up Priority</label>
            <div class="input-group  mb-3">
              <input class="form-group date-picker" matInput name="next_follow_up" [(ngModel)]="selected_date"
                [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </div>
          </div> -->
          <!-- End of Follow-up Priority -->

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Job</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->

<!-- Start of Body -->

<!--
customer:{{customer_id}}
                follow_up_comment:Nice to talk asf
                lead_priority:2
                next_follow_up:2020-05-24T00:00 -->

<!-- End of Body -->


<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <!-- Select Customer - customer - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Select Customer</label>
            <ng-select [items]="Customers" bindLabel="company_name" autofocus bindValue="customer_id"
              [(ngModel)]="selectedCustomer" name="customer" (change)=onSelect($event) placeholder="Select Customer">
            </ng-select>
          </div>
          <!-- End of Select Customer -->

          <!-- Comments - follow_up_comment - text - required -->
          <div class="form-group">
            <label>Comments</label>
            <textarea class="form-control" [(ngModel)]="Factor.follow_up_comment" name="follow_up_comment"
              #follow_up_comment="ngModel" type="text" placeholder="Enter Comments" required></textarea>
            <div class="error" *ngIf="follow_up_comment.touched && !follow_up_comment.valid"> Comments
              is
              required</div>
          </div>
          <!-- End of Comments -->


          <!-- Follow-up Priority - lead_priority - ng-select - selectedType -->
          <div class="form-group">
            <label>Follow-up Priority</label>
            <ng-select [items]="PRIORITY" bindLabel="value" autofocus bindValue="id" name="lead_priority"
              [(ngModel)]="selectedPriority" (change)=onSelect2($event) placeholder="Follow-up Priority">
            </ng-select>
          </div>
          <!-- End of Follow-up Priority -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>


          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Update Customer</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
