<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
  <div class="lds-ripple">
    <div class="lds-pos"></div>
    <div class="lds-pos"></div>
  </div>
</div>
<!-- ============================================================== -->


<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium m-3 ml-4">Payment Follow Ups
      </h3>
      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a></a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-5 align-self-center">

    </div>
  </div>
</div>
<div class="container-fluid">

  <!-- <div class="card-group">
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">236</h2>
                          <span
                              class="badge bg-primary font-12 text-white font-weight-medium badge-pill ml-2 d-lg-block d-md-none">+18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Clients</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="user-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 w-100 text-truncate font-weight-medium"><sup
                              class="set-doller">$</sup>18,306</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Earnings of Month
                      </h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="dollar-sign"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card border-right">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <div class="d-inline-flex align-items-center">
                          <h2 class="text-dark mb-1 font-weight-medium">1538</h2>
                          <span
                              class="badge bg-danger font-12 text-white font-weight-medium badge-pill ml-2 d-md-none d-lg-block">-18.33%</span>
                      </div>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">New Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="file-plus"></i></span>
                  </div>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="card-body">
              <div class="d-flex d-lg-flex d-md-block align-items-center">
                  <div>
                      <h2 class="text-dark mb-1 font-weight-medium">864</h2>
                      <h6 class="text-muted font-weight-normal mb-0 w-100 text-truncate">Projects</h6>
                  </div>
                  <div class="ml-auto mt-md-3 mt-lg-0">
                      <span class="opacity-7 text-muted"><i data-feather="globe"></i></span>
                  </div>
              </div>
          </div>
      </div>
  </div> -->


  <div class="card mt-3 mb-4">
    <div class="card-header py-3 d-flex align-items-center justify-content-between">
      <div class="customize-input float-right">
        <input (dateChange)=onDateChange($event) class="date-field" matInput [(ngModel)]="active_day"
          [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/dashboard/product-create']"
        class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-100"></i>
        Create
        Payment Follow Up</a>
    </div>
  </div>

  <!-- Exapnsion Panel -->
  <!-- <div class="container mt-3">
    <div class="example-action-buttons float-left">
      <h3> Active Follow-ups </h3>
    </div>
    <div class="example-action-buttons float-right">
      <button class="btn" mat-button (click)="togglePanels()">Toggle Rows</button>
    </div> <br>
    <mat-accordion class="example-headers-align container" multi>
      <mat-expansion-panel *ngFor="let factor of Invoices">
        <mat-expansion-panel-header>
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">{{factor.customer_address}} - {{factor.customer_name}} -
                {{factor.customer_mobile}} </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">Last Follow Up : {{factor.time_stamp | date : 'd/M/yy'}}
              </h4>
            </mat-panel-description>
          </div>
        </mat-expansion-panel-header>
        <div class="row container">
          <div class="col-6">
            <mat-panel-title>
              <h4 class="m-0 font-weight-bold text-primary">
                Type : {{CUSTOMER_TYPE[factor.customer_type].value}} <br>
                From : {{CUSTOMER_FROM[factor.customer_from].value}} <br>
                Return Type : {{RETURN_TYPE[factor.return_types].value}} <br>
              </h4>
            </mat-panel-title>
          </div>
          <div class="col-6">
            <mat-panel-description>
              <h4 class="m-0 font-weight-bold text-primary">
                Next Follow Up : {{factor.next_follow_up | date : 'd/M/yy'}} <br>
                Ref. No. : {{factor.invoice_refernce_no}} <br>
                Amount : {{factor.invoice_balance}} <br>
                Prev. comment : {{factor.follow_up_comment}} <br>
              </h4>
            </mat-panel-description>
          </div>
        </div>
        <mat-action-row style="zoom: 80%;">
          <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fa fa-trash"
              aria-hidden="true"></i></button>
          <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fas fa-edit"></i></button>
          <button class="mr-4 btn btn-circle btn-light" color="primary"><i class="fa fa-share"
              aria-hidden="true"></i></button>
          <button class="mr-4 btn btn-rounded btn-light" color="primary" (click)=disclose(factor)>Disclose</button>
          <button class="mr-4 btn btn-rounded btn-dark" color="primary" (click)=next_followup(factor)> Next Follow Up
          </button>
        </mat-action-row>

      </mat-expansion-panel>

    </mat-accordion>

  </div> -->

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr>
            <!-- <th>Edit</th> -->
            <th>Company Name</th>
            <th>Amount</th>
            <th>Last Feedback</th>
            <th>Dispatch Date</th>
            <th>Last Follow Up</th>
            <th>Next Follow Up</th>
            <th>Disclose</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <!-- <th>Edit</th> -->
            <th>Company Name</th>
            <th>Amount</th>
            <th>Last Feedback</th>
            <th>Dispatch Date</th>
            <th>Last Follow Up</th>
            <th>Next Follow Up</th>
            <th>Disclose</th>
          </tr>
        </tfoot>

        <!-- Start of DataTable -->
        <tbody>
          <tr *ngFor="let factor of Factors">
            <!-- <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
              <i class="fa fa-edit text-gray-500"></i>
            </td> -->
            <td>{{factor.company_name}}</td>
            <td>{{factor.invoice_balance}}</td>
            <td>{{factor.follow_up_comment}}</td>
            <td>{{factor.dispatch_date | date:'d  - MMM,  y'}}</td>
            <td>{{factor.time_stamp | date:'d  - MMM,  y'}}</td>
            <td>{{factor.next_follow_up | date:'d  - MMM,  y'}}</td>
            <td (click)=disclose(factor) style="cursor: pointer;" align="center">
              <i class="fa fa-bell-slash text-gray-500"></i>
            </td>
          </tr>
        </tbody>
        <!-- End of DataTable -->

      </table>
    </div>
  </div>


</div>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Factor -   > -->
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

          <!-- Select Customer - customer - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Select Customer</label>
            <ng-select [items]="Customers" bindLabel="company_name" autofocus bindValue="customer_id"
              [(ngModel)]="selectedCustomer" name="customer" (change)=onSelect($event) placeholder="Select Customer">
            </ng-select>
          </div>
          <!-- End of Select Customer -->

          <!-- Amount  - invoice_balance - text - required -->
          <div class="form-group">
            <label>Amount </label>
            <input class="form-control" [(ngModel)]="Factor.invoice_balance" name="invoice_balance"
              #invoice_balance="ngModel" type="text" placeholder="Enter Amount " required>
            <div class="error" *ngIf="invoice_balance.touched && !invoice_balance.valid"> Amount is
              required</div>
          </div>
          <!-- End of Amount  -->

          <!-- Reference No. - invoice_refernce_no - text - required -->
          <div class="form-group">
            <label>Reference No.</label>
            <input class="form-control" [(ngModel)]="Factor.invoice_refernce_no" name="invoice_refernce_no"
              #invoice_refernce_no="ngModel" type="text" placeholder="Enter Reference No." required>
            <div class="error" *ngIf="invoice_refernce_no.touched && !invoice_refernce_no.valid"> Reference No. is
              required</div>
          </div>
          <!-- End of Reference No. -->

          <!-- Return type - return_types - ng-select - selectedType -->
          <!-- <div class="form-group">
            <label>Return type</label>
            <ng-select [items]="RETURN_TYPE" bindLabel="value" autofocus bindValue="id" name="return_types"
              [(ngModel)]="selectedPriority" (change)=onSelect2($event) placeholder="Return type">
            </ng-select>
          </div> -->
          <!-- End of Return type -->

          <!-- Feedback - follow_up_comment - text - required -->
          <div class="form-group">
            <label>Feedback</label>
            <textarea class="form-control" [(ngModel)]="Factor.follow_up_comment" name="follow_up_comment"
              #follow_up_comment="ngModel" type="text" placeholder="Enter Feedback" required></textarea>
            <div class="error" *ngIf="follow_up_comment.touched && !follow_up_comment.valid"> Feedback is
              required</div>
          </div>
          <!-- End of Feedback -->

          <!-- Date of dispatch - lead_priority - ng-select - selectedType -->
          <div class="form-group">
            <label>Date of dispatch</label>
            <div class="mb-3">
              <input class="date-picker form-group" matInput name="next_follow_up" [(ngModel)]="dispatch_day"
                [matDatepicker]="picker3">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </div>
          </div>
          <!-- End of Date of dispatch -->

          <!-- Next Follow Up - lead_priority - ng-select - selectedType -->
          <div class="form-group">
            <label>Next Follow Up</label>
            <div class="mb-3">
              <input class="date-picker form-group" matInput name="next_follow_up" [(ngModel)]="selected_date"
                [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </div>
          </div>
          <!-- End of Next Follow Up -->

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create payment follow-up</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->

<!-- Start of Body -->

<!--
customer:{{customer_id}}
                follow_up_comment:Nice to talk asf
                lead_priority:2
                next_follow_up:2020-05-24T00:00 -->

<!-- End of Body -->


<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <!-- Select Customer - customer - ng-select - selectedIndustry -->
          <div class="form-group">
            <label>Select Customer</label>
            <ng-select [items]="Customers" bindLabel="company_name" autofocus bindValue="customer_id"
              [(ngModel)]="selectedCustomer" name="customer" (change)=onSelect($event) placeholder="Select Customer">
            </ng-select>
          </div>
          <!-- End of Select Customer -->

          <!-- Amount  - invoice_balance - text - required -->
          <div class="form-group">
            <label>Amount </label>
            <input class="form-control" [(ngModel)]="Factor.invoice_balance" name="invoice_balance"
              #invoice_balance="ngModel" type="text" placeholder="Enter Amount " required>
            <div class="error" *ngIf="invoice_balance.touched && !invoice_balance.valid"> Amount is
              required</div>
          </div>
          <!-- End of Amount  -->

          <!-- Reference No. - invoice_refernce_no - text - required -->
          <div class="form-group">
            <label>Reference No.</label>
            <input class="form-control" [(ngModel)]="Factor.invoice_refernce_no" name="invoice_refernce_no"
              #invoice_refernce_no="ngModel" type="text" placeholder="Enter Reference No." required>
            <div class="error" *ngIf="invoice_refernce_no.touched && !invoice_refernce_no.valid"> Reference No. is
              required</div>
          </div>
          <!-- End of Reference No. -->

          <!-- Return type - return_types - ng-select - selectedType -->
          <div class="form-group">
            <label>Return type</label>
            <ng-select [items]="RETURN_TYPE" bindLabel="value" autofocus bindValue="id" name="return_types"
              [(ngModel)]="selectedPriority" (change)=onSelect2($event) placeholder="Return type">
            </ng-select>
          </div>
          <!-- End of Return type -->

          <!-- Comments - follow_up_comment - text - required -->
          <div class="form-group">
            <label>Comments</label>
            <textarea class="form-control" [(ngModel)]="Factor.follow_up_comment" name="follow_up_comment"
              #follow_up_comment="ngModel" type="text" placeholder="Enter Comments" required></textarea>
            <div class="error" *ngIf="follow_up_comment.touched && !follow_up_comment.valid"> Comments is
              required</div>
          </div>
          <!-- End of Comments -->

          <!-- Next Follow Up - lead_priority - ng-select - selectedType -->
          <div class="form-group">
            <label>Next Follow Up</label>
            <div class="input-group date-picker mb-3">
              <input class="form-group" matInput name="next_follow_up" [(ngModel)]="selected_date"
                [matDatepicker]="picker2">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </div>
          </div>
          <!-- End of Next Follow Up -->

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Update Customer</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
