<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-medium m-3 ml-4">Faculty Management
      </h3>

      <div class="d-flex align-items-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item"><a></a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-5 align-self-center">
    </div>
  </div>
</div>

<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid px-4">
          <p class=""></p>
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h4 class="m-0 font-weight-bold text-primary">Faculty Database</h4>
              <div class="">

                <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/routePath']"
                  class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i>
                  Add Faculty</a>
              </div>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <!-- <th>Faculty Name</th>
                      <th>Mobile</th> -->
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Username</th>
                      <!-- <th>Faculty Name</th>
                      <th>Mobile</th> -->
                      <th>Options</th>
                    </tr>
                  </tfoot>

                  <!-- Start of DataTable -->
                  <tbody>
                    <tr *ngFor="let factor of Factors">
                      <td>{{factor.username}}</td>
                      <!-- <td>{{factor.first_name}} {{factor.last_name}}</td>
                      <td>{{factor.mobile_number}}</td> -->
                      <td style="cursor: pointer;" align="center" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <a class="dropdown-item" href="javascript:void(0)">Edit Faculty</a>
                          <a class="dropdown-item text-danger" (click)=delete_factor(factor)>Delete Faculty
                            Up</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <!-- End of DataTable -->


                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>



<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- <<  Customer - Factor -   >> -->
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

          <!-- Faculty email - email - text - required -->
          <div class="form-group">
            <label>Faculty email</label>
            <input class="form-control" [(ngModel)]="Factor.email" name="email" #email="ngModel" type="text"
              placeholder="Enter Faculty email" required>
            <div class="error" *ngIf="email.touched && !email.valid"> faculty
              mail is
              required</div>
          </div>
          <!-- End of Faculty email -->

          <!-- Password - password - text - required -->
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" [(ngModel)]="Factor.password" name="password" #password="ngModel" type="text"
              placeholder="Enter Password" required>
            <div class="error" *ngIf="password.touched && !password.valid"> password
              is
              required</div>
          </div>
          <!-- End of Password -->


          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Faculty</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <!-- Faculty name - faculty_name - text - required -->
          <div class="form-group">
            <label>Faculty name</label>
            <input class="form-control" [(ngModel)]="Factor.faculty_name" name="faculty_name" #faculty_name="ngModel"
              type="text" placeholder="Enter Faculty name" required>
            <div class="error" *ngIf="faculty_name.touched && !faculty_name.valid"> Faculty
              name is
              required</div>
          </div>
          <!-- End of Faculty name -->

          <!-- Contact Person - customer_name - text - required -->
          <!-- <div class="form-group">
              <label>Contact Person</label>
              <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name"
                #customer_name="ngModel" type="text" placeholder="Enter Contact Person" required>
              <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Contact
                Person is
                required</div>
            </div> -->
          <!-- End of Contact Person -->

          <div class="form-group text-center">
            <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
            <button class="btn btn-primary" type="submit">Update Faculty</button>
          </div>


        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
