@import "~@ng-select/ng-select/themes/default.theme.css";


table.dataTable {
  border-collapse: collapse !important;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 0 !important;
}


.footer {
  padding-top: 20%;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

.attainments {
  margin-top: 2em;
  margin: 2em;

  p {
    margin: 0;
    padding: 1.2em;
  }
}

tr,
.nav-link {
  cursor: pointer;
}

.dropdown-item {
  padding: 1em;
}
