
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-7 align-self-center">
        <h3 class="page-title text-truncate text-dark font-weight-medium m-3 ml-4">Customer Management
        </h3>

        <div class="d-flex align-items-center">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0 p-0">
              <li class="breadcrumb-item"><a></a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="col-5 align-self-center">
      </div>
    </div>
  </div>

  <body id="page-top">
    <div id="wrapper">
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <div class="container-fluid px-4">
            <p class=""></p>
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-primary">Your customer Database</h4>
                <div class="">
                  <a data-toggle="modal" data-target="#create-industry-modal" [routerLink]="['/routePath']"
                    class="d-sm-inline btn btn-sm btn-primary shadow-sm mr-3"><i
                      class="fa fa-plus fa-sm text-white-50"></i>
                    Add Industry</a>
                  <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/routePath']"
                    class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i>
                    Create Customer</a>
                </div>
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th>Edit</th>
                        <th>Company name</th>
                        <th>Contact Person</th>
                        <th>Mobile Number</th>
                        <th>Company place</th>
                        <!-- <th>Industry</th>
                        <th>Calendar</th> -->
                        <!-- <th>Delete</th> -->
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Edit</th>
                        <th>Company name</th>
                        <th>Contact Person</th>
                        <th>Mobile Number</th>
                        <th>Company place</th>
                        <!-- <th>Industry</th>
                        <th>Calendar</th> -->
                        <!-- <th>Delete</th> -->
                      </tr>
                    </tfoot>

                    <!-- Start of DataTable -->
                    <tbody>
                      <tr *ngFor="let factor of Factors">
                        <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
                          <i class="fa fa-edit text-gray-500"></i>
                        </td>
                        <td>{{factor.company_name}}</td>
                        <td>{{factor.customer_name}}</td>
                        <td>{{factor.customer_mobile}}</td>
                        <td>{{factor.customer_city}}</td>
                        <!-- <td>{{factor.customer_city}} - {{factor.customer_address}}</td> -->
                        <!-- <td>{{factor.shop_industry}}</td>
                        <td *ngIf="factor.calendar_eligible">✔</td>
                        <td *ngIf="!factor.calendar_eligible">-</td> -->
                        <!-- <td (click)=delete_factor(factor) style="cursor: pointer;" align="center">
                          <i class="fa fa-trash text-gray-500"></i>
                        </td> -->
                      </tr>
                    </tbody>
                    <!-- End of DataTable -->


                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </body>


  <!--
customer_id:{{customer_id}}

                          customer_name:Benny
                          customer_mobile:687496879
                          customer_address:Salem
                          customer_type:1
                          customer_from:1
                          shop_industry:{{industry_id}} -->

  <!-- Create  Factor modal content -->
  <div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <!-- <<  Customer - Factor -   >> -->
          <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

            <!-- Company name - company_name - text - required -->
            <div class="form-group">
              <label>Company name</label>
              <input class="form-control" [(ngModel)]="Factor.company_name" name="company_name"
                #company_name="ngModel" type="text" placeholder="Enter Company name" required>
              <div class="error" *ngIf="company_name.touched && !company_name.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Company name -->

            <!-- Contact Person - customer_name - text - required -->
            <div class="form-group">
              <label>Contact Person</label>
              <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name"
                #customer_name="ngModel" type="text" placeholder="Enter Contact Person" required>
              <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Contact
                Person is
                required</div>
            </div>
            <!-- End of Contact Person -->

            <!-- Customer mobile - customer_mobile - text - required -->
            <div class="form-group">
              <label>Customer mobile</label>
              <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
                #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
              <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
                Customer mobile is
                required</div>
            </div>
            <!-- End of Customer address -->

            <!-- Customer address - customer_address - text - required -->
            <div class="form-group">
              <label>Customer address</label>
              <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
                #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
              <div class="error" *ngIf="customer_address.touched && !customer_address.valid">
                Customer address is
                required</div>
            </div>
            <!-- End of Customer address -->

            <!-- Customer City - customer_city - text - required -->
            <div class="form-group">
              <label>Customer City</label>
              <input class="form-control" [(ngModel)]="Factor.customer_city" name="customer_city"
                #customer_city="ngModel" type="text" placeholder="Enter Customer City" required>
              <div class="error" *ngIf="customer_city.touched && !customer_city.valid"> Customer
                address is
                required</div>
            </div>
            <!-- End of Customer City -->

            <!-- Feedback - customer_feedback - text - required -->
            <!-- <div class="form-group">
              <label>Feedback</label>
              <textarea class="form-control" [(ngModel)]="Factor.customer_feedback" name="customer_feedback"
                #customer_feedback="ngModel" type="text" placeholder="Enter Feedback" [value]=""></textarea>
              <div class="error" *ngIf="customer_feedback.touched && !customer_feedback.valid"> Customer
                address is
                required</div>
            </div> -->
            <!-- End of Feedback -->

            <!-- Industry Type - shop_indusry - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Industry Type</label>
              <ng-select [items]="Industries" bindLabel="industry_name" autofocus bindValue="customer_industry_id"
                [(ngModel)]="selectedIndustry" name="shop_indusry" (change)=onSelect($event)
                placeholder="Industry Type">
              </ng-select>
            </div>
            <!-- End of Industry Type -->

            <!-- Customer Type - customer_name - ng-select - selectedType -->
            <div class="form-group">
              <label>Customer Type</label>
              <ng-select [items]="CUSTOMER_TYPE" bindLabel="value" autofocus bindValue="id" name="customer_type"
                [(ngModel)]="selectedType" (change)=onSelect2($event) placeholder="Customer Type">
              </ng-select>
            </div>
            <!-- End of Customer Type -->

            <!-- Customer from - customer_name - ng-select - selectedFrom -->
            <!-- <div class="form-group">
              <label>Customer from</label>
              <ng-select [items]="CUSTOMER_FROM" bindLabel="value" autofocus bindValue="id" name="customer_from"
                [(ngModel)]="selectedFrom" (change)=onSelect3($event) placeholder="Customer from">
              </ng-select>
            </div> -->
            <!-- End of Customer from -->

            <!-- Calendar Oriented - calendar_eligible - text - required -->
            <div class="custom-control custom-checkbox">
              <input [(ngModel)]="Factor.calendar_eligible" name="calendar_eligible"
                #calendar_eligible="ngModel" type="checkbox" class="custom-control-input" id="customCheck1"
                onclick="console.log(this.checked)">
              <label class="custom-control-label" for="customCheck1">Calendar Oriented</label>
            </div>
            <!-- End of Calendar Oriented -->

            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Create Customer</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Create Factor -->



  <!-- Edit  Factor modal content -->
  <div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

            <!-- Company name - company_name - text - required -->
            <div class="form-group">
              <label>Company name</label>
              <input class="form-control" [(ngModel)]="Factor.company_name" name="company_name"
                #company_name="ngModel" type="text" placeholder="Enter Company name" required>
              <div class="error" *ngIf="company_name.touched && !company_name.valid"> Company
                name is
                required</div>
            </div>
            <!-- End of Company name -->

            <!-- Contact Person - customer_name - text - required -->
            <div class="form-group">
              <label>Contact Person</label>
              <input class="form-control" [(ngModel)]="Factor.customer_name" name="customer_name"
                #customer_name="ngModel" type="text" placeholder="Enter Contact Person" required>
              <div class="error" *ngIf="customer_name.touched && !customer_name.valid"> Contact
                Person is
                required</div>
            </div>
            <!-- End of Contact Person -->

            <!-- Customer mobile - customer_mobile - text - required -->
            <div class="form-group">
              <label>Customer mobile</label>
              <input class="form-control" [(ngModel)]="Factor.customer_mobile" name="customer_mobile"
                #customer_mobile="ngModel" type="text" placeholder="Enter Customer mobile" required>
              <div class="error" *ngIf="customer_mobile.touched && !customer_mobile.valid">
                Customer mobile is
                required</div>
            </div>
            <!-- End of Customer address -->

            <!-- Customer address - customer_address - text - required -->
            <div class="form-group">
              <label>Customer address</label>
              <input class="form-control" [(ngModel)]="Factor.customer_address" name="customer_address"
                #customer_address="ngModel" type="text" placeholder="Enter Customer address" required>
              <div class="error" *ngIf="customer_address.touched && !customer_address.valid">
                Customer address is
                required</div>
            </div>
            <!-- End of Customer address -->

            <!-- Customer City - customer_city - text - required -->
            <div class="form-group">
              <label>Customer City</label>
              <input class="form-control" [(ngModel)]="Factor.customer_city" name="customer_city"
                #customer_city="ngModel" type="text" placeholder="Enter Customer City" required>
              <div class="error" *ngIf="customer_city.touched && !customer_city.valid"> Customer
                address is
                required</div>
            </div>
            <!-- End of Customer City -->

            <!-- Feedback - customer_feedback - text - required -->
            <!-- <div class="form-group">
              <label>Feedback</label>
              <textarea class="form-control" [(ngModel)]="Factor.customer_feedback" name="customer_feedback"
              #customer_feedback="ngModel" type="text" placeholder="Enter Feedback"></textarea>
              <div class="error" *ngIf="customer_feedback.touched && !customer_feedback.valid"> Customer
                address is
                required</div>
              </div> -->
            <!-- End of Feedback -->

            <!-- Industry Type - shop_indusry - ng-select - selectedIndustry -->
            <div class="form-group">
              <label>Industry Type</label>
              <ng-select [items]="Industries" bindLabel="industry_name" autofocus bindValue="customer_industry_id"
                [(ngModel)]="Factor.customer_industry_id" name="shop_industry" (change)=onSelect($event)
                placeholder="Industry Type">
              </ng-select>
            </div>
            <!-- End of Industry Type -->

            <!-- Customer Type - customer_name - ng-select - selectedType -->
            <div class="form-group">
              <label>Customer Type</label>
              <ng-select [items]="CUSTOMER_TYPE" bindLabel="value" autofocus bindValue="id" name="customer_type"
                [(ngModel)]="Factor.customer_type" (change)=onSelect2($event) placeholder="Customer
              Type">
              </ng-select>
            </div>
            <!-- End of Customer Type -->

            <!-- Customer from - customer_name - ng-select - selectedFrom -->
            <!-- <div class="form-group">
            <label>Customer from</label>
              <ng-select [items]="CUSTOMER_FROM" bindLabel="value" autofocus bindValue="id" name="customer_from"
              [(ngModel)]="Factor.customer_from" (change)=onSelect3($event) placeholder="Customer from">
            </ng-select>
            </div> -->
            <!-- End of Customer from -->

            <!-- Calendar Oriented - calendar_eligible - text - required -->
            <div class="custom-control custom-checkbox">
              <input [(ngModel)]="Factor.calendar_eligible" id="customCheck2" name="calendar_eligible"
                #calendar_eligible="ngModel" type="checkbox" class="custom-control-input"
                *ngIf="!Factor.calendar_eligible">
              <input [(ngModel)]="Factor.calendar_eligible" name="calendar_eligible"
                #calendar_eligible="ngModel" type="checkbox" id="customCheck2" class="custom-control-input"
                *ngIf="Factor.calendar_eligible" checked>
              <label class="custom-control-label" for="customCheck2">Calendar Oriented</label>
            </div>
            <!-- End of Calendar Oriented -->

            <div class="form-group text-center">
              <button (click)=delete_factor(Factor) class="btn btn-light">Delete</button>
              <button class="btn btn-primary" type="submit">Update Customer</button>
            </div>


          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->



  <!-- Edit  Factor modal content -->
  <div id="create-industry-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form #formValues4="ngForm" (ngSubmit)="add_industry(formValues4)" class="pl-3 pr-3">

            <!-- Industry Name - industry_name - text - required -->
            <div class="form-group">
              <label>Industry Name</label>
              <input class="form-control" [(ngModel)]="Industry.industry_name" name="industry_name"
                #industry_name="ngModel" type="text" placeholder="Enter Industry Name" required>
              <div class="error" *ngIf="industry_name.touched && !industry_name.valid"> Industry name is
                required</div>
            </div>
            <!-- End of Industry Name -->


            <div class="form-group text-center">
              <button class="btn btn-primary" type="submit">Add Industry</button>
            </div>


          </form>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let factor of Industries">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{factor.industry_name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button class="btn btn-light" (click)="delete_industry(factor)">Delete Industry</button>
              <!-- <p>This is the primary content of the panel.</p> -->
            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </div>
    </div>
  </div>
  <!-- End of Edit Factor -->
